body {
    font-family: sans-serif;
    margin: 0 50px;
}

table {
    table-layout: fixed;
    width: 77%;
    border: 3px solid royalblue;
    border-collapse: collapse;
}

th {
    border-bottom: 3px solid royalblue;
}

tr {
    border-bottom: 1px solid gray;
}

.left-aligned-th {
    text-align: left;
}
